/* белый и черный дефолтные css*/


$orange: rgba(235, 101, 47, 1) 
$grey-op: rgba(196, 196, 196, 0.1) 
$white-op-16: rgba(255, 255, 255, 0.16)
$white-op-40: rgba(255, 255, 255, 0.4) 
$white-op-20: rgba(255, 255, 255, 0.2) 
$dark-grad: linear-gradient(270deg, #041027 0%, #3F4352 100%) 
$dark-grad-2: linear-gradient(270deg, rgba(20, 35, 58, 0.05) 0%, #14233A 100%) 
$dark-blue: rgba(20, 35, 58, 1) 
$dark-blue-op: rgba(20, 35, 58, 0.55) 
$green-grad: linear-gradient(0deg, #20B038 0%, #60D66A 100%) 
$dark-rad-grad: radial-gradient(100% 100% at 0% 101.03%, rgba(91, 92, 102, 0.76) 0%, rgba(0, 9, 26, 0.85) 100%) 
$light-grey: rgba(196, 196, 196, 1) 
$light-grey-op: rgba(196, 196, 196, 0.15) 
$red-rad-grad: radial-gradient(50% 50% at 50% 50%, #CE0707 0%, #B90000 100%) 
$light-grad: linear-gradient(0deg, #F9F9F9 0.01%, #FFFFFF 100.02%) 


$mobileS: 360px
$mobileM: 414px
$mobileL: 568px
$mobileXS: 768px
$tablet: 1024px
$desktopS: 1440px
$desktopM: 1600px
$desktopL: 1920px

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Montserrat', sans-serif; */

    
*
    padding: 0
    margin: 0

body
    font-family: Roboto
h1,h2,h3,h4,h5,h6,button,.btn
    font-family: 'Montserrat', sans-serif

