@import "base.sass"

.header
    background: $dark-blue
    background-image: url("../img/background.png")
    background-size: cover
    
    &__head
        width: 100%
        display: flex
        justify-content: space-between


    a
        text-decoration: none
        color: white

    &__nav
        display: flex
        gap: 40px