@import "base.sass"

.products

    &__item
        background: $extra-light
        margin-top: 70px
        padding: 148px 30px 20px
        width: 285px
        position: relative
        border-radius: 10px
        @media screen and (max-width: $tabletS)
            padding-top: 140px

        @media screen and (max-width: $mobileL)
            padding-top: 115px
            width: 234px
            padding-left: 20px
            padding-right: 20px


        h3
            font-size: 18px
            line-height: 22px
            letter-spacing: 0
            text-align: center
            margin-bottom: 42px
            @media screen and (max-width: $mobileL)
                font-size: 16px
                line-height: 20px
                margin-bottom: 32px


        picture
            position: absolute
            display: grid
            height: auto
            left: 0
            top: -70px
            width: 100%
            place-items: center
            @media screen and (max-width: $mobileL)
                top: -81px
                img
                    width: 134px

    &__info
        display: flex
        flex-direction: column
        gap: 14px
        @media screen and (max-width: $mobileL)
            gap: 16px

        &-item
            display: flex
            justify-content: space-between
            font-size: 14px
            line-height: 16px
            @media screen and (max-width: $mobileL)
                font-size: 12px
                line-height: 14px

        &-value
            font-weight: bold
            @media screen and (max-width: $mobileL)
                font-size: 12px
                line-height: 14px

    &__price
        margin: 25px auto
        font-weight: bold
        font-size: 22px
        line-height: 26px
        text-align: center
        color: $blue

    .btn
        width: 100%

    &__content
        display: grid
        gap: 40px 20px
        grid-template-columns: 1fr 1fr 1fr 1fr

        @media screen and (max-width: $tabletM)
            grid-template-columns: 1fr 1fr 1fr
        @media screen and (max-width: $tabletS)
            grid-template-columns: none


    &__wrapper
        @media screen and (max-width: $tabletS)
            padding: 10px 10px 10px 0



            