@import "base"
.window
    .option
        .slide
            &:nth-child(1)
                .card-title
                    margin-top: 42px
                    @media screen and (max-width: $mobileL)
                        margin-top: 29px

            &:nth-child(2)
                .card-image
                    padding-left: 36px
                    @media screen and (max-width: $mobileL)
                        padding-left: 30px

                .card-title
                    margin-top: 42px
                    @media screen and (max-width: $mobileL)
                        margin-top: 29px

.services
    &__tabs
        display: flex
        gap: 12px
        align-content: center
        justify-content: center
        max-width: 912px
        margin: 0 auto 40px

        @media screen and (max-width: $tabletM)
            margin: 0 0 38px
            justify-content: flex-start

        @media screen and (max-width: $tabletS)
            overflow-x: scroll

        @media screen and (max-width: $mobileL)
            gap: 8px
            margin-bottom: 20px

        @media screen and (max-width: $mobileM)
            display: none

        @media screen and (max-width: $mobileS)
            display: none

        & .tab
            padding: 14px 22px
            border: 1px solid $tabs-grey
            box-sizing: border-box
            border-radius: 30px
            font-size: 12px
            line-height: 15px
            font-weight: bold
            color: $tabs-grey
            text-align: center
            text-transform: uppercase
            transition: 0.3s ease

            &:nth-child(1)
                min-width: 143px
                width: 143px
                @media screen and (max-width: $mobileL)
                    min-width: 119px
                    width: 119px

            &:nth-child(3)
                min-width: 136px
                width: 136px
                @media screen and (max-width: $mobileL)
                    min-width: 113px
                    width: 113px

            &:nth-child(5)
                min-width: 165px
                width: 165px
                @media screen and (max-width: $mobileL)
                    min-width: 137px
                    width: 137px

            &:nth-child(7)
                min-width: 198px
                width: 198px
                @media screen and (max-width: $mobileL)
                    min-width: 164px
                    width: 164px


            @media screen and (max-width: $mobileL)
                padding: 12px 18px
                font-size: 10px

            & > span
                margin: 0
                padding: 0
                box-sizing: content-box

            &.tab-active
                border: 1px solid $orange
                color: $orange

        & .tabs-line
            display: block
            min-width: 66px
            max-width: 66px
            background-image: url("../img/window/line.svg")
            background-repeat: no-repeat
            background-position: 0 50%
            background-size: contain
            height: auto
            transition: 0.3s ease

            @media screen and (max-width: $tabletS)
                min-width: 40px

            @media screen and (max-width: $mobileL)
                min-width: 32px

            &.tabs-line-active
                background-image: url("../img/window/line-active.svg")

    &__capability
        position: relative
        width: 1036px
        height: 679px
        background-color: $background-light-grey
        border-radius: 10px

        @media screen and (max-width: $tabletM)
            width: 784px
            height: 707px

        @media screen and (max-width: $tabletS)
            width: 100%
            height: 911px

        @media screen and (max-width: $mobileL)
            height: 860px

        @media screen and (max-width: $mobileM)
            height: 1055px

        @media screen and (max-width: $mobileS)
            height: 997px

    &-slider
        margin: 0 auto
        @media screen and (max-width: $tabletS)
            width: 572px
        @media screen and (max-width: $mobileL)
            width: 488px
        @media screen and (max-width: $mobileM)
            width: 350px
        @media screen and (max-width: $mobileS)
            width: 300px

        & .slide
            padding: 0 80px

            @media screen and (max-width: $tabletM)
                padding: 0 64px
            @media screen and (max-width: $tabletS)
                padding: 0

    .service
        &__main
            z-index: 100
            padding: 40px 60px
            height: 41.5%
            background: $dark-grad-2, url("../img/window/window-service-photo.png") no-repeat
            background-size: cover
            border-radius: 10px 10px 0 0

            @media screen and (max-width: $tabletM)
                padding: 40px
                height: 39.5%

            @media screen and (max-width: $tabletS)
                height: 30.5%

            @media screen and (max-width: $mobileL)
                padding: 30px
                height: 27.5%

            @media screen and (max-width: $mobileM)
                height: 24.5%

            @media screen and (max-width: $mobileS)
                padding: 24px
                height: 24%

            h3
                width: 362px
                color: white

                @media screen and (max-width: $mobileL)
                    max-width: 80vw

                @media screen and (max-width: $mobileM)
                    max-width: 60vw

            p
                margin-bottom: 30px
                width: 362px
                color: white
                font-size: 16px
                line-height: 160%
                font-weight: 200

                @media screen and (max-width: $mobileL)
                    max-width: 62vw
                    font-size: 14px
                    margin-bottom: 26px

                @media screen and (max-width: $mobileS)
                    max-width: 100%

            .btn
                border: none
                padding: 18px 50px
                font-size: 14px
                line-height: 17px
                @media screen and (max-width: $mobileL)
                    padding: 16px 40px
                    font-size: 12px
                    line-height: 15px


        &__list
            padding: 40px 60px

            @media screen and (max-width: $tabletM)
                padding: 40px

            @media screen and (max-width: $mobileL)
                padding: 30px

            @media screen and (max-width: $mobileS)
                padding: 24px

            ul
                display: flex
                flex-direction: column
                flex-wrap: wrap
                padding: 0
                width: 100%
                height: 346px
                list-style: none

                @media screen and (max-width: $tabletM)
                    height: 360px

                @media screen and (max-width: $tabletS)
                    flex-wrap: nowrap
                    height: auto

                li
                    max-width: 430px
                    margin-right: 40px
                    margin-bottom: 30px

                    &:nth-child(3n)
                        margin-bottom: 0

                    @media screen and (max-width: $tabletM)
                        width: 340px
                        margin-right: 24px
                        margin-bottom: 24px

                    @media screen and (max-width: $tabletS)
                        width: 448px
                        margin-right: 0
                        &:nth-child(3n)
                            margin-bottom: 24px

                    @media screen and (max-width: $mobileL)
                        width: 100%
                        margin-bottom: 20px
                        &:nth-child(3n)
                            margin-bottom: 20px

                    h4
                        position: relative
                        margin-left: 36px
                        margin-bottom: 12px

                        &::before
                            content: url("../img/window/list.svg")
                            position: absolute
                            top: -2px
                            left: -36px

                    p
                        @media screen and (max-width: $mobileS)
                            font-size: 12px
                            line-height: 19px

    .arrow
        z-index: 500
        width: 56px
        height: 56px
        border-radius: 50%
        display: flex
        align-items: center
        cursor: pointer
        position: absolute
        top: 46%
        transition: 0.3s ease

        @media screen and (max-width: $tabletM)
            width: 44px
            height: 44px
            top: 47.5%

        @media screen and (max-width: $mobileL)
            width: 36px
            height: 36px
            top: 48%

        @media screen and (max-width: $mobileS)
            width: 28px
            height: 28px

        img
            display: block

    .arrow-prev
        position: absolute
        left: 0
        background-image: url("../img/window/prev-arrow-active.svg")
        background-size: contain

        @media screen and (max-width: $tabletS)
            left: -24px
        @media screen and (max-width: $mobileL)
            left: -18px

        &.slick-disabled
            background-image: url("../img/window/prev-arrow.svg")

    .arrow-next
        position: absolute
        right: 0
        background-image: url("../img/window/next-arrow-active.svg")
        background-size: contain

        @media screen and (max-width: $tabletS)
            right: -24px
        @media screen and (max-width: $mobileL)
            right: -18px

        &.slick-disabled
            background-image: url("../img/window/next-arrow.svg")
