@charset "UTF-8";

/* белый и черный дефолтные css*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;

200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1312px;
  padding: 0 56px;
  width: 100wv;
}

/* белый и черный дефолтные css*/

/*font-family: 'Montserrat', sans-serif; */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1312px;
  padding: 0 56px;
  width: 100wv;
}

.header {
  background: #14233a;
  background-image: url("../img/background.png");
  background-size: cover;
}

.header__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: white;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 414px) {
  .container {
    padding: 0 32px;
  }

  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0 30px;
  }

  .container {
    padding: 0 30px;
  }
}

@media screen and (ax-width: 568px) {
  .container {
    padding: 0 40px;
  }

  .container {
    padding: 0 40px;
  }
}
@supports (-webkit-appearance:none){
.header{background-image:url("../img/background.webp")}
}

 @media screen and (max-width: 414px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (ax-width: 568px){

@supports (-webkit-appearance:none){

}

}
